<!DOCTYPE html>
<html>
<head>
    <title>Printer History</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/pages-week">Page Counts</a>
        <a href="#about">Jams</a>
        <a href="#services">History</a>
        <a href="{{ url_for('static', filename='html/funny.html') }}" id="urgent">Shut Down All Printers</a>
    </div>

    <img src="{{ url_for('static', filename='printer-pics/' + photo) }}" width="500px" alt="Printer" class="center">
    
</body>
</html>